.contents
  .header
    %h1
      %img.header__img
    .header__progress
      %li.header__progress__advance.active
        会員情報
        .header__progress__advance__point
      %li.header__progress__advance.active
        電話番号認証
        .header__progress__advance__point
      %li.header__progress__advance.active
        お届け先住所入力
        .header__progress__advance__point
      %li.header__progress__advance.active
        支払い方法
        .header__progress__advance__point
      %li.header__progress__advance.active
        完了
        .header__progress__advance__point
  .main-content
    .main-content__title
      %h2 登録完了
    .form__block__text__main
      ありがとうございました。
      %br/
      会員登録が完了しました。
    .form__actions
