.contents
  =render '/entry/entry-header'
  .entry-main
  .entry-main__container
    .entry-main__container__top 新規会員登録
    .entry-main__container__main
      .btn-default
      .btn-blue
      .btn-gry
  =render '/entry/entry-footer'