.main {
  background-color: $whisper;
  &__top {
    position: relative;
    height: 300px;
    img {
      position: relative;
      height: 100%;
      width: 100vw;
    }
  }
  &__midle {
    padding-top: 30px;
    width: 700px;
    margin: 0 auto;
    h1 {
      font-size: 28px;
      text-align: center;
      font-weight: bold;
    }
    }
  &__bottome {
    padding-bottom: 20px;
    width: 700px;
    margin: 0 auto;
    h1 {
      font-size: 28px;
      text-align: center;
      font-weight: bold;
    }
  }
}