.main_container
  %section.buy-product-container.l-single-container
    %h2.l-single-head
      購入内容の確認
    %section.buy-content.buy-product
      .buy-content-inner
        商品内容

    %section.buy-content.buy-user-info
      .buy-content-inner
        配送先

    %section.buy-content.buy-user-info
      .buy-content-inner
        クレジットカード