-# autocomplete を使用するための記述
<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
= render partial: 'entry/entry-header'
= render partial: 'sell_content'
= render partial: 'entry/entry-footer'
