// ********common*************
body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

h2 {
  font-size: 22px;
  line-height: 1.4;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: left;
}

.form-require {
  background: #ea352d;
}

.clearfix {
  zoom: 1;
  font-weight: normal;
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

a {
  color: #0099e8;
  text-decoration: none;
}

// ***************************

.l {
  &-single {
    &-container {
      background: #fff;
      @media screen and (min-width: 768px) {
        width: 700px;
        margin: 0 auto;
      }
    }


    &-head {
      padding: 24px 8px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      @media screen and (min-width: 768px){
        padding: 32px 16px;
        font-size: 22px;
      }
    }
  }

  &-left {
    float: left;
  }

  &-right {
    float: right;
  }
}



.sell {
  &-form {
    border-top: 1px solid #eee;
    
    &-box {
      margin: 40px 0 0;
      @media screen and (min-width: 768px){
        float: right;
        width: 400px;
        margin: 0;
      }
    }
  }

  &-upload {
    &-box {
      padding: 40px 2.5%;
      @media screen and (min-width: 768px){
        width: 620px;
        padding: 40px;
      }
    }

    &-head {
      font-size: 16px;
    }

    &-drop-box.have-item-0 {
      width: 100%;
      margin-left: 0;
    }

    &-drop-box {
      position: relative;
      min-height: 162px;
      background: #f5f5f5;
      border: 1px dashed #ccc;
      font-size: 0;
      text-align: center;
      -webkit-transition: -webkit-box-shadow ease-out .3s;
      transition: -webkit-box-shadow ease-out .3s;
      transition: box-shadow ease-out .3s;
      transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
      cursor: pointer;
      float: right;
      margin-left: 2%;

      @media screen and (min-width: 768px){
        float: right;
        width: 620px;
      }
    }

    &-drop-box .fa-camera {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 14px;
      @media screen and (min-width: 768px){
        display: none;
      }
    }

    &-drop-box pre {
      @media screen and (min-width: 768px){
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.5;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }

    &-head+p {
      margin: 8px 0 0;
      line-height: 1.5;
      text-align: left;
    }

    &-items {
      display: inline;
      @media screen and (min-width: 768px){
        float: left;
        display: block;
      }
    }
  }


  &-dropbox-container {
    display: inline;
    margin: 16px auto 0;
    @media screen and (min-width: 768px){
        display: block;
        width: 620px;
    }
  }

  &-dropbox-container &-upload-products-container {
    display: inline;
  }



  &-sub-head {
    color: #888;
    font-size: 14px;
    @media screen and (min-width: 768px){
      float: left;
    }
  }



  &-content {
    padding: 40px;
    border-top: 1px solid #eee;
  }


  &-price {
    .form-group .l-left {
      line-height: 48px;
      width: 50%;
    }

    .form-group .l-right {
      width: 50%;
    }

    .clearfix.bold .l-left {
      font-size: 16px;
      font-weight: 600;
    }

    .clearfix .l-right1{
      float: right;
    }
    
    .clearfix .l-right2{
      float: right;
      font-size: 34px;
    }

    &-input {
      text-align: right;
    }

    &-input .input-default {
      margin: 0;
      text-align: right;
    }
    
    &-input>div {
      display: inline-block;
      width: 80%;
      margin: 0 0 0 5%;
    }

  }


  &-price>li:first-child {
    padding: 0 0 24px;
    border: 0;
  }

  &-price>li {
    padding: 24px 0;
    border-top: 1px solid #ccc;
  }


  &-btn {
    &-box p {
      line-height: 1.5;
    }

    &-box .btn-red {
      margin: 40px 0 0;
    }

    &-box .btn-gray {
      width: 45%;
      margin: 24px auto 0;
    }
  }
}


input {
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
}

.select-wrap {
  position: relative;
  background: #fff;

  .fa-chevron-down {
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 18px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}


.form-group {

  .select-wrap {
    margin: 8px 0 0;
    
    select {
      width: 100%;
    }
  }

  .fa-chevron-down {
    position: absolute;
  }

  label+.textarea-default {
    margin: 8px 0 0;
  }
}


.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.visible-pc {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
  }
}

pre {
  overflow: auto;
}

label {
  display: block;
  text-align: left;
}

//selectの標準矢印を非表示
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
