//****************************
//        Common
//****************************

.l-single-container {
  background: #fff;
  @media screen and (min-width: 768px){
    width: 700px;
    margin: 0 auto;
  }
}

.l-single-head {
  padding: 16px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  @media screen and (min-width: 768px){
    padding: 32px 16px;
    font-size: 22px;
  }
}

div {
  display: block;
}


.f14 {
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

ul, ol {
    list-style: none;
}

//***********END****************


.main_product_buy_container {
  display: block;
}


.buy {
  &-content:first-of-type {
    margin: 0;
  }

  &-content {
    padding: 24px 12.5% 0;
    border-top: 1px solid #f5f5f5;
    @media screen and (min-width: 768px){
      padding: 32px 16px;
    }
  }

  &-content:last-of-type {
    padding-bottom: 48px;
  }
  
  &-content-inner {
    max-width: 343px;
    margin: 0 auto;
  }

  &-product {
    text-align: center;

    // .buy-content-inner {
    //   display: flex;
    //   flex-wrap: wrap;
    // }
  }

  &-product-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &-product img {
    width: 64px;
    height: 64px;
  }

  &-product-detail {
    margin-left: 16px;
  }

  &-product-name{
    font-size: 14px;
    margin: 0;
    padding: 0 0 8px;
    line-height: 1.5;
    text-align: left;
  }

  &-form {
    width: 100%;
    p {
      margin: 8px 0 0;
      line-height: 1.5;
    }
  }


  &-price {
    &-ja {
      margin: 0;
      text-align: left;
      
      .product-shipping-fee {
        font-size: 12px;
      }
    }

    &-cell {
      display: table-cell;
      padding: 16px 0;
      text-align: right;
      width: 100%;
    }

    &-cell:first-child {
      text-align: left;
    }

    &-cell span {
      font-size: 28px;
    }

    &-table:first-child {
      display: table;
      border-collapse: collapse;
      width: 100%;
    }

    &-row:first-child {
      border: 0;
    }
  }

  &-you-pay {
    font-size: 16px;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  &-user {
    &-info {
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      @media screen and (min-width: 768px){
        padding: 32px 0;
      }

      h3 {
        margin: 0;
        font-size: 14px;
      }
    }

    &-info:last-of-type {
      padding-bottom: 0;
    }

    &-info-text {
      margin: 8px 0 0;
      font-size: 14px;
      line-height: 1.4;
    }

    &-info-text-link {
      margin: 8px 0 0;
      font-size: 14px;
      line-height: 1.4;
      color: #0099e8;
    }

    &-info-fix {
      display: block;
      text-align: right;
      color: #0099e8;
    }

  }
}


.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

img {
  vertical-align: middle;
}

.bold {
  font-weight: 600;
}

.product-shipping-fee {
  display: inline-block;
  font-size: 16px;
}

h3 {
  font-size: 22px;
}

.btn-red {
  background-color: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  margin: 0;
}

.buy-card-logo {
  margin-top: 8px;
}



.product-buy-btn {
  display: block;
  margin-top: 16px;
  background: #ea352d;
  font-size: 14px;
  color: #fff;
  line-height: 56;
  text-align: center;
  font-weight: 600;
  text-decoration: none;

  @media screen and (min-width: 768px){
    font-size: 24px;
    line-height: 60px;
  }
}

.product-buy-btn-gray {
  display: block;
  margin-top: 16px;
  background: #888888;
  font-size: 14px;
  color: #fff;
  line-height: 56;
  text-align: center;
  font-weight: 600;
  text-decoration: none;

  @media screen and (min-width: 768px){
    font-size: 24px;
    line-height: 60px;
  }
}