.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}
.btn-red {
  color: #fff;
  background-color: #ea352d;
  margin: 16px 0 0;
}
.btn-blue {
  color: #fff;
  background-color: #0099e8;
}
.btn-gray {
  color: #fff;
  background-color: #808080;
}
.btn-facebook {
  color: #fff;
  background-color: #385185; 

}
.btn-google {
  border: 1px solid #C0C0C0;
  background-color: #fff;
}
.btn-corner {
  border-radius: 0px;
}
