header {
  display: block;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

.header__wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
  color: rgb(51, 51, 51);
  font-size: 15px;
}

.header__container {
  min-width :480px;
  margin: 0px auto;
  padding: 8px 0px 0px;
  font-size: 14px;
  @media  screen and (min-width: 1068px) {
    width: 1020px;
    font-size: 16px;
  }
}

.header__inner__top {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  @media (max-width: 840px) {
    display: block;
  }
}

.header__inner__bottom {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  a {
    text-decoration: none;
  }
}

.logo__item {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 40px;
  margin-right: 45px;
  @media (max-width: 840px) {
    margin-left: 20px;
  }
}

.logo__item__image {
  height: 36px;
  width: 134px;
}
.search__box{
  padding: 0px 10px 8px;
  width: 100%;
  @media (max-width: 840px) {
    margin-top: 15px
  }
}
.search__bar {
  position: relative;
}

.search__bar__text {
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: calc(100% - 20px);
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}

.search_bar__btn {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
}

.serch__samllbox{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  @media  screen and (min-width: 840px) {
    display: none;
  }

}

.serch__samllbox__link {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 38px;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 20px 4px;
  margin: 0 auto;
}

.serch__items__box{
  display: flex;
  margin-left: -3px;
  @media (max-width: 840px) {
    display: none;    
  }
}

.serch__by__category {
  padding-left: 0px;
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
}

.serch__samllbox__link {
  font-weight: 600;
  text-decoration: none;
}
.serch__by__category__link {
  font-weight: 600;
  text-decoration: none;
}

.serch__by__brand{
  padding-right: 0px;
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;

}

.user-info__items {
  display: flex;
  position: relative;
  list-style: none;
  @media (max-width: 840px) {
    display: none;
  }
}

.user-info__item {
  height: 44px;
  position: relative;
  padding: 0px 7px;
  @media screen and (min-width: 1068px){
    padding: 0px 14px;
  }
}
.user-info__item:hover {
  color: rgb(0, 149, 238);
}

.category__container {
  display: none;
  position: absolute;
  top: 44px;
  z-index: 4;
  @media screen and (min-width: 1068px){
    left: 0px;
  }
}

.large__category__container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  width: 224px;
}

.large__category__inner {
  width: 224px;
}

.medium__category__container {
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  //display:block;
  display: none;
  left: 224px;
  position: absolute;
  top: 0px;
  width: 224px;
}

.medium__category__inner {
  width: 224px;
  background-color: rgb(255, 255, 255);
}

.small__categorys__container {
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  //display:block;
  display: none;
  left: 224px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.small__category__inner{
  width: 320px;
  background-color: rgb(255, 255, 255);
}

.category__text {
  display: block;
  font-size: 14px;
  line-height: 38px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 16px;
}

.category__text:hover {
  background-color: #dc143c;
  color: white;
}

.category__children__text{
  display: block;
  font-size: 14px;
  line-height: 38px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 16px;
}
.category__children__text:hover {
  background-color:#F2F2F2;
}

.serch__by__brand:hover
.category__container {
  display: block;
}
.serch__by__category:hover
.category__container {
  display: block;
}

.large__category__container > li:hover
.medium__category__container {
  display: block;
}
.medium__category__container > li:hover
.small__categorys__container {
  display: block;
}

.user-info__window {
  right: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: absolute;
  top: 44px;
  width: 320px;
  z-index: 3;
}

.user-info__window__inner {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}

.user-info__background {
  background-image: url("/images/user-bg.jpg");
  background-size: 320px 80px;
  background-repeat: no-repeat;
  padding: 28px 0px 0px;
}

.user-info__icon {
  text-align: center;
}

.user-info__icon__image {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.user-info__nickname {
  font-size: 16px;
  text-align: center;
  margin: 8px 0px 0px;
  padding: 0px 8px;
}

.user-info__evaluation__container {
  background-color: rgb(250, 250, 250);
  width: 300px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(239, 239, 239);
  border-image: initial;
  margin: 16px auto;
}

.user-info__evaluation__text {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 40px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 8px;
}

.user-info__link__container {
  border-top: 1px solid rgb(239, 239, 239);
  list-style: none;
}
.user-info__link__inner:not(:first-child) {
    border-top: 1px solid rgb(239, 239, 239);
}

.user-info__link__text {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 48px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 16px;
}
