$red: red;
$cinnabarRed: #ea352d;

$whiteGray: #efefefef;
$darkGray:darkgray;
$littleDarkGray: #888888;
$black: #333;

$green: #468877;
$successColor: #3c763d;

$waringColor: #8a6d3b;
$errorColor: #a94442;


$pureblue: #0095EE;
$lightsteelblue: #b0c4de;
$aliceblue: #f0f8ff;
$lavender :#e6e6fa;

$whisper: #eeeeee;
$littleWhisper: #F5F5F5;
$white: white;

.lightsteelblue {
  color: #b0c4de;
}

.lavender {
  color: $lavender;
}
.aliceblue {
  color: $aliceblue;
}
.white {
  color: $white;
}

.darkgray {
  color: $darkGray;
}

.littleDarkGray {
  color: $littleDarkGray;
}

.red {
  color: $red;
}

.cinnabarRed {
  color: $cinnabarRed;
}

.black {
  color: $black;
}

.green {
  color: $green;
}

.successColor{
  color: #3c763d;
}

.waringColor {
  color: #8a6d3b;
}

.errorColor {
  color: #a94442;
}

.darkGreen {
  color: #3c763d;
}

.whisper {
  color: $whisper;
}

.littleWhisper {
  color: $littleWhisper;
}