$red: red;
$cinnabarRed: #ea352d;
$darkGray:darkgray;
$littleDarkGray: #888888;
$black: #333;

$green: #468877;
$successColor: #3c763d;
$waringColor: #8a6d3b;
$errorColor: #a94442;

$whisper: #eeeeee;
$littleWhisper: #F5F5F5;

.darkgray {
  color: $darkGray;
}

.littleDarkGray {
  color: $littleDarkGray;
}

.red {
  color: $red;
}

.cinnabarRed {
  color: $cinnabarRed;
}

.black {
  color: $black;
}

.green {
  color: $green;
}

.successColor{
  color: #3c763d;
}

.waringColor {
  color: #8a6d3b;
}

.errorColor {
  color: #a94442;
}

.darkGreen {
  color: #3c763d;
}

.whisper {
  color: $whisper;
}

.littleWhisper {
  color: $littleWhisper;
}