.main-content{
  background-color:#fff;
  width: 700px;
  margin: 0 auto;
  text-align: center;

  &__title{
    padding: 32px;
    border-bottom: solid;
    border-width: thin;
    border-color: #f5f5f5;

    & h2{
      font-size: 22px;
      font-weight: bold;
    }
  }
  &__form{
    padding: 12px 16px 40px;
    font-size: 14px;

    &__box{
      margin: 0 auto;
      width: 343px;
    }
  }
}

.text_field{
  width: 304px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px; 
  margin-top: 8px;
  border: 0.5px solid #ccc;
}
.text_field-half{
  width: 130px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin: 8px 8px 0 0; 
  border: 0.5px solid #ccc;
}

label{
  font-display: inline-block;
  font-weight: 600;
}
.form-separate{
  display: flex;
}
.form__block{
  margin-top: 32px;
  text-align: left;
  box-sizing: border-box;

  &:first-of-type{
    margin-top: 20px;
  }
  &__required{
    background-color: red;
    margin: 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  &__text{
    font-size: 16px;
    font-weight: bold;
    &__main{
      line-height: 1.5;
      font-size: 14px;
      margin: 8px 0 0;
    }
  }
  &__info{
    color: #888888;
    margin-top: 8px;
    margin-bottom: 45px;
    line-height: 1.5;
  }
}

.form__select{
  border: groove;
  display: inline-block;
  height: 76px;
  width: 48px;
}

.progress-btn{
  width: 340px;
  height: 46px;
  border-radius: 2px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
}

.text__consent{
  margin-top: 20px;
  line-height: 1.5;

  & a{
    color: #0099E8;
  }
}
.text__right{
  float: right;
  margin-top: 20px;
  
  & a{
    color: #0099E8;
  }
}

.form__actions{
  margin-bottom: 50px;
}

.birthday-select-wrap 
  select {
    position: relative;
    background: #fff;
    display: inline-block;
    margin: 8px 0 0;
    width: calc(30% - 17px);

    z-index:2;
    height:48px;
    border-radius:4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.fake-box{
  width: 304px;
  height: 25px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  background-color: #fff;
  color: #ccc;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px; 
  margin-top: 8px;
}

.form__block__text__main.phone{
  text-align: left;
}

.main-content__form__box.bottom{
  text-align: left;
  margin-top: 20px;
}

.attestation-number__error{
  font-weight: bold;
  line-height: 1.5;
}

.last-sentence{
  margin: 5px 0 5px 0;
}