.login-panel {
  max-width: 456px;
  margin: 0 auto;
  background: #fff;
  @media screen and (min-width:768px) {
    max-width: none;
    width: 456px;
  }
}

.login-no-account {
  padding: 34px 32px;
  text-align: center;
  @media screen and (min-width:768px) {
    padding: 40px 64px;
  }
  p {
    font-size: 14px;
  }
  a {
    display: block;
    margin: 8px 0 0;
    border: 1px solid #0099e8;
    background: #0099e8;
    color: #fff;
    line-height: 40px;
  }
}

.log-form-inner .form-group:first-child {
  margin: 0;
}

.login-form-inner .form-group {
  margin: 24px 0 0;
}

.login-form-inner:first-child {
  padding: 24px 32px;
  border: 0;
  @media screen and (min-width:768px){
    padding: 34px 64px 32px;
  }
}

.login-form-inner {
  padding: 24px 32px;
  border-top: 1px solid #eee;
  @media screen and (min-width:768px){
    padding: 32px 64px;
  }
}

.form-group:first-chid {
  margin: 0;
} 
.form-group {
  margin: 0;
}

.log-form-inner .input-default {
  margin: 0;
}


.form-group .input-default {
  width: 100%;
  margin: 8px 0 0;
}

.login-submit {
  margin: 24px 0 0;
  text-align: center;
}