.fake-box{
  width: 304px;
  height: 25px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  background-color: #fff;
  color: #ccc;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px; 
  margin-top: 8px;
}
.form__block__text__main.phone{
  text-align: left;
}

.main-content__form__box.bottom{
  text-align: left;
  margin-top: 20px;
}

.attestation-number__error{
  font-weight: bold;
  line-height: 1.5;
}
a{
  color: #0099E8;
}
.last-sentence{
  margin: 5px 0 5px 0;
}