%nav.bread-crumbs
%main.l-container.clearfix
  .l-content
    .l-chapter-container
      .l-single-inner
        .l-single-content
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn-default btn-red'
    -# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    -#   .l-single-content
    -#   = f.submit "ログイン", class: 'login-submit btn-default btn-red'
        
  = render partial: 'sideber'