.card-container
  .card-container__category
    %a{href: ''} レディース新着アイテム
  .card-container__box
    %a{href: '', class: 'card-container__box__item'}
      .card-container__box__item__image
        = image_tag '/images/m70125712357_1.jpg', alt: '', height: '', class: ''
      .card-container__box__item__info
        .card-container__box__item__info__name イヤリング
        .card-container__box__item__info__num
          .card-container__box__item__info__num__price ¥ 500
          .card-container__box__item__info__num__like 5
  .card-container__all
    %a{href:''} すべての商品を見る