.header
  .header__top
    .header__top__icon
      = image_tag '/assets/image.png', alt: '', height: '', width: '', class: ''
    %form.header__top__form{action: ''}
      %input{type: 'text', placeholder: '何かお探しですか？'}
  .header__bottome
    .header__bottome__left
      %ul
        %li 
          カテゴリーから探す
          %a{href: ''}
        %li
          ブランドから探す
          %a{href: ''}
    .header__bottome__right
      %ul
        %li
          お知らせ
          %a{href: ''}
        %li
          やることリスト
          %a{href: ''}
        %li
          マイページ
          %a{href: ''}
