.main
  .main__top
    = image_tag '/assets/mercari.png', alt: '', class: ''
  .main__midle
    %h1 ピックアップカテゴリー
    .main__midle__items1 レディース新着アイテム
  .main__bottome
    %h1 ピックアップブランド
    .main__bottome__item1 シャネル新着アイテム