.main__midle__container
  .main__midle__container__category
    %a{href: ''} レディース新着アイテム
  .main__midle__container__box
    %a{href: '', class: 'main__midle__container__box__item'}
      .main__midle__container__box__item__image
        = image_tag '/assets/m70125712357_1.jpg', alt: '', height: '', class: ''
      .main__midle__container__box__item__info
        .main__midle__container__box__item__info__name イヤリング
        .main__midle__container__box__item__info__num
          .main__midle__container__box__item__info__num__price ¥ 500
          .main__midle__container__box__item__info__num__like 5
  .main__midle__container__all
    %a{href:''} すべての商品を見る