.wrapper
  .header
    .header__top
      .header__top__icon メルカリ
      %form.header__top__form{action: ''}
        %input{placeholder: '何かお探しですか？'}
    .header__bottome
      .header__bottome__left
        %ul
          %li カテゴリーから探す
          %li ブランドから探す
      .header__bottome__right
        %ul
          %li お知らせ
          %li やることリスト
          %li マイページ
  .main
  .footer