.main {
  background-color: #EEEEEE;
  &__top {
    position: relative;
    height: 300px;
    img {
      position: relative;
      height: 100%;
      width: 100vw;
    }
  }
  &__midle {
    padding-top: 30px;
    width: 700px;
    margin: 0 auto;
    h1 {
      font-size: 28px;
      text-align: center;
      font-weight: bold;
    }
    &__container {
      width: 700px;
      margin: 0 auto;
      &__category {
        color: #0099E8;
        font-size: 22px;
        font-weight: bold;
        margin: 26px;
        text-align: center;
        a {
          color: #0099E8;
          text-decoration: none;
        }
      }
      &__box {
        display: flex;
        &__item {
          background-color: #fff;
          margin-left: 20px;
          width: 200px;
          color: black;
          text-decoration: none;
          img {
            width: 200px
          }
          &__info {
            font-size: 16px;
            padding: 16px;
            &__num {
              font-weight: 600;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
      &__all {
        font-size: 14px;
        text-align: right;
        padding: 20px 0 30px 0;
        a {
          color: #0099E8;
          text-decoration: none;
        }
      }
    }
  }
  &__bottome {
    padding-bottom: 20px;
    width: 700px;
    margin: 0 auto;
    h1 {
      font-size: 30px;
      text-align: center;
    }
  }
}