.wrapper {
  @import "top-page-header";
  @import "top-page-main";
  @import "top-page-footer";
  .sell-btn {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    z-index: 1000;
    background-color: #ea352d;
    color: white;
    font-size: 22px;
    text-align: center;
    border-radius: 80px;
    text-decoration: none;
  }
}