%aside.app-banner
  .app-banner__pc
    .app-banner__pc__inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード
      .app-banner__icon.clearfix
        %figure
          %img{ class: "app-banner__icon__img", src: "/images/mercari_icon.png", width: "68"}
        %ul.clearfix
          %li
            %img{ class: "app-banner__icon__img", src: "/images/app-store.png", height: "40", width: "133"}
          %li
            %img{ class: "app-banner__icon__img", src: "/images/google-play.png", height: "40", width: "133"}
    %figure
      %img{ class: "signature__img", src: "/images/download_content_pc.png"}